<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
        <servlet>
            <servlet-name>Week2Homework1</servlet-name>
            <servlet-class>com.YuWei.week2.HelloWorldServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Week2Homework1</servlet-name>
            <url-pattern>/hello</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Life_Cycle</servlet-name>
            <servlet-class>com.YuWei.week3.LifeCycleServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Life_Cycle</servlet-name>
            <url-pattern>/life</url-pattern>
        </servlet-mapping>


<!--
         <servlet>
            <servlet-name>Config</servlet-name>
            <servlet-class>ConfigDemoServlet</servlet-class>

            <init-param>
                <param-name>name</param-name>
                <param-value>Yu Wei</param-value>
            </init-param>

            <init-param>
                <param-name>studentId</param-name>
                <param-value>2022211001000522</param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>Config</servlet-name>
            <url-pattern>/config</url-pattern>
        </servlet-mapping>

        -->
        <!--
         <servlet>
            <servlet-name>RegisterServlet</servlet-name>
            <servlet-class>RegisterServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegisterServlet</servlet-name>
            <url-pattern>/register</url-pattern>
        </servlet-mapping>
        -->
        <context-param>
            <param-name>drivername</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </context-param>
        <context-param>
            <param-name>url</param-name>
            <param-value>jdbc:sqlserver://localhost;DatabaseName=userdb;encrypt=false;</param-value>
        </context-param>
        <context-param>
            <param-name>username</param-name>
            <param-value>sa</param-value>
        </context-param>
        <context-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </context-param>


        <welcome-file-list>
            <welcome-file>home</welcome-file>
        </welcome-file-list>



</web-app>